    @model IEnumerable<TestApp.Models.ViewModel.Book>
    @{
        ViewData["Title"] = "Knihy";
    }

    <p>
        <a class="btn btn-default" asp-action="Create">Create New</a>
    </p>
<p>@ViewData["Message"]</p>
    <div class="row">
        <div class="col-md-4">
            @{ 
                ViewData["BooksTitle"] = "Vsetky knihy";
                await Html.RenderPartialAsync("Partials/Table", Model, ViewData);
            }
        </div>
        <div class="col-md-4">
            @{ 
                ViewData["BooksTitle"] = "Vypozicane knihy";
                await Html.RenderPartialAsync("Partials/Table", ViewBag.Borrowed, ViewData);
            }
        </div>
        <div class="col-md-4">
            @{  
                ViewData["BooksTitle"] = "Nepozicane knihy";
                await Html.RenderPartialAsync("Partials/Table", ViewBag.Free, ViewData);
            }
        </div>
    </div>